PORT=4001
NODE_ENV=production
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<db_host>/<db_name>?retryWrites=true&w=majority
DB_URI=mongodb+srv://<db_user>:<db_password>@<db_host>/<db_name>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here_please_change
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://rvetrivignesh.github.io/XeroxDosth

# Google OAuth 2.0 Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# Brevo Transactional Email Configuration
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=your_verified_sender@example.com
BREVO_SENDER_NAME=XeroxDosth

